__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

.annotator/
annotator/

tmp*/
workflow_preview/

*.log
*.status.json
*.tmp

project.json
images/
annotations/
cache/
logs/

.DS_Store
.vscode/